**WAP to calculate area of circle**

In [174]:
radius=4;
area=(3.14)*(4^2);
# print using format method
print("area of circle with radius {} is : {}".format(radius,area));
# print using f string
print(f"area of circle with radius {radius} is : {area}");

area of circle with radius 4 is : 18.84
area of circle with radius 4 is : 18.84

**WAP to calculate area of right angled triange**

In [176]:
height=24;
base= 6;
area=(1/2)*(base)*(height);
# print using format method
print(f"Area of triange with height {height} and base {base} is {area}");
# print using f string
print("Aread of triange with height {} and base {} is {}".format(height,base,area))

Area of triange with height 24 and base 6 is 72.0
Aread of triange with height 24 and base 6 is 72.0

**WAP to calculate sum of bill amount**

In [178]:
billAmt=1000;
tipAmt=50;
totalBill=billAmt+tipAmt;
# print using format method
print("Total Bill amount for bill {} and tip {} is {}".format(billAmt,tipAmt,totalBill));
# print using f string
print(f"Total Bill Amount for bill {billAmt} and tip {tipAmt} is {totalBill}");

Total Bill amount for bill 1000 and tip 50 is 1050
Total Bill Amount for bill 1000 and tip 50 is 1050

**wap calculate area of rectange**

In [180]:
rec_len=20;
rec_breadth= 30;
areaRec= rec_len*rec_breadth;
#print using format
print("area of rectnagle with length {} and breadth {} is {}".format(rec_len,rec_breadth,areaRec));
#print using f string
print(f"aread of rectange with length {rec_len} and breadth {rec_breadth} is {areaRec}");

area of rectnagle with length 20 and breadth 30 is 600
aread of rectange with length 20 and breadth 30 is 600