**1. WAP to print Hello**

In [2]:
print("Hello");

Hello

**2. WAP to perform arithematical operations additon and division**

In [11]:
try:
    a=eval(input("enter num1"));
    b= eval(input("enter num2"));
    add=a+b;
    div=a/b;
    print(add);
    print(div);
except Exception as e:
    print("Ecception: ",e);

enter num1 1000
enter num2 0

Ecception:  division by zero

**3. WAP to perforom area of triangle**

In [24]:
try:
    base=eval(input("enter base of traingle"));
    height=eval(input("enter height of traingle"));
    area=(0.5)*(base)*(height);
    print(f"Area of triangle is {area}");
except Exception as e:
    print("Exception: ",e);

enter base of traingle 100
enter height of traingle 200

Area of triangle is 10000.0

**4.WAP to swap 2 varaibles**

In [27]:
a=10;
b=20;
temp=b;
b=a;
a=temp;
print(a,b)

20 10

**5.WAP to generate random number**

In [30]:
from random import randint;
randNum=randint(1,100);
print(randNum)

32

**6.WAP to convert KMS to Miles**

In [37]:
kms= float(input("enter distance in KMs"));
#conversion = 1km= 0.6 miles
distInMiles= kms*0.621371;
print("distance in miles ", distInMiles);

enter distance in KMs 5

distance in miles  3.106855

**7.WAP to convert Celcius  to Fahrenheit**

In [16]:
celsius=float(input("enter temperature in celcius"));
#conversion : F= (9/5)*C+32
temp_in_f=((9/5)*celsius)+32
print("temp in Fahrenheit: ",temp_in_f);

enter temperature in celcius 35

temp in Fahrenheit:  95.0

**8.WAP to display Calendar**

In [33]:
import calendar;
year=eval(input("enter year"));
month=eval(input("enter month between 1 to 12"));
print(calendar.month(year,month));

enter year 2025
enter month between 1 to 12 1

    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

**9.WAP to solve quadratic equation**

In [ ]:
ax**2+bx+c=0

**10.WAP to swap 2 variables without temp**

In [40]:
a=eval(input("enter number 1"));
b=eval(input("enter number 2"));
a=a+b;
b=a-b;
a=a-b;
print("swapped varaibles",a,b);

enter number 1 200
enter number 2 100

swapped varaibles 100 200

**11.WAP to check if number is positive, negative or 0**

In [47]:
num=eval(input("enter number"));
if num>0:
    print(f"{num} is postive integer");
elif num<0:
    print(f"{num} is negative integer");
else:
    print(f"{num} is Zero");

enter number 0

0 is Zero

**12.WAP to check if num is even or odd**

In [57]:
num=eval(input("enter number"));
if num%2==0:
    print(f"{num} is even");
else:
    print(f"{num} is odd");

enter number 1023244

1023244 is even

**13.WAP to check if leap year**

In [94]:
year=eval(input("enter year"));

if year%100==0 and year%400==0:
    print(f"{year} is  leap year");
elif year%4==0 and year%100!=0:
    print(f"{year} is leap year");
else:
    print(f"{year} is non leap year");

enter year 1900

1900 is non leap year

**14.WAP to check if number is prime**

In [160]:
num=eval(input("enter num"));
count=0;
for i in range(2,10):
    if num%i==0 and num!=i:
        count=count+1;
        print(i);
if count<0:
    print(f"{num} is prime numner");
else:
    print(f"{num} is composite");

enter num 1092

2
3
4
6
7
1092 is composite

**15.WAP to print prime number 1,10**

In [214]:

for num in range(1,100):
    count=0;
    if num>1:
        for i in range(2,num):
            if num%i==0 and num!=i:
                count=count+1;
        if count<=0:
            print(num,end=" ");

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

**16. WAP to find factorial of number**

In [243]:
num=eval(input("enter number"));
temp=1;
for i in range(1,num+1):
    temp=(num*i);
    print(f"factorial of {num} is {fact}");

enter number 5

factorial of 5 is 5
factorial of 5 is 10
factorial of 5 is 15
factorial of 5 is 20
factorial of 5 is 25