**Print**

In [1]:
a=10;
b=20;
print(a);
print(b)

10
20

In [4]:
print(a,b)

10 20

In [6]:
print(a),print(b)

10
20

(None, None)

In [10]:
print(30,'NIT','HYD')

30 NIT HYD

In [32]:
num1=100;
num2=200;
add= num1+num2;
print('additon of'+ str(num1) + ' & '+  str(num2)+  ' is' + str(add)) ##not effective format 
print("additon of",num1,"&", num2, "is", add)  # correct format

additon of100 & 200 is300
additon of 100 & 200 is 300

In [36]:
name="python"
age =10;
city=100;
print("my name is",name,"im",age,"years old and came from",city)

my name is python im 10 years old and came from 100

**format**

In [43]:
name="python"
age =10;
city=100;
print("my name is {} im {} years old and came from {}".format(name,age,city)) #more effective format of printing variables

my name is python im 10 years old and came from 100

In [92]:
num1=100;
num2=200;
add= num1+num2;
print('additon of'+ str(num1) + ' & '+  str(num2)+  ' is' + str(add)) ##not effective format 
print("additon of",num1,"&", num2, "is", add)  # correct format
print("addition of {} & {} is {}".format(num1,num2,add)) #  effective way is using format method
print(f"aditon of {num1} & {num2} is {add}"); # most effective way to print

additon of100 & 200 is300
additon of 100 & 200 is 300
addition of 100 & 200 is 300
aditon of 100 & 200 is 300

In [84]:
#Wap take 2 numbers
# perform sub, divisoion,multiplication

number1=100;
number2=200;
sub=number2-number1;
mul=number1*number2;
div=number2/number1;
print("=========================Addition===========================");
print("the substraction of {} & {} is {}".format(number2,number1,sub));
print(f"the substraction of {number2} & {number1} is {sub}")
print("====================================================");
print("=========================mul===========================");
print("the multiplication  of {} & {} is {}".format(number1,number2,mul));
print(f"the multiplication of {number1} & {number2} is {mul}")
print("====================================================");
print("=========================div===========================");
print("the division of {} & {} is {}".format(number2,number1,div));
print(f"the division of {number2} & {number1} is {div}")
print("====================================================");

=========================Addition===========================
the substraction of 200 & 100 is 100
the substraction of 200 & 100 is 100
====================================================
=========================mul===========================
the multiplication  of 100 & 200 is 20000
the multiplication of 100 & 200 is 20000
====================================================
=========================div===========================
the division of 200 & 100 is 2.0
the division of 200 & 100 is 2.0
====================================================

In [86]:
#wap to to perform avg of 3 numbers

num1=200;
num2=300;
num3=400;
avg=(num1+num2+num3)/3;
print("avg of {} {} {} is : {}".format(num1,num2,num3,avg));
print(f"avg of {num1} {num2} {num3} is : {avg}")

avg of 200 300 400 is : 300.0
avg of 200 300 400 is : 300.0

**f String**

In [78]:
#wap to to perform avg of 3 numbers

num1=200;
num2=300;
num3=400;
avg=(num1+num2+num3)/3;
print(f"avg of {num1} {num2} {num3} is : {avg}"); ## can be used instead of format method

avg of 200 300 400 is : 300.0

**round**

In [99]:
#wap to to perform avg of 3 numbers

num1=12;
num2=300;
num3=400;
avg=(num1+num2+num3)/3;
avg=round(avg)
print(f"avg of {num1} {num2} {num3} is : {avg}"); ## can be used instead of format method

avg of 12 300 400 is : 237

In [109]:
round(10.63423333,2)

10.63

**I have multiple print statements but I want to show in single line**

- end

In [115]:
a=10;
b=20;
print(a, end=" ");
print(b, end=" ");
print(30)

10 20 30

In [119]:
print("hello", end=" ")
print("how",end=" ")
print("are",end= " ");
print("you?")

hello how are you?

**I have multiple values in a single print statement,I want to display them in with some sepration**

In [122]:
print(10,20,30)

10 20 30

**Sep** operator to use seprator

In [125]:
print(10,20,30,sep="====>")

10====>20====>30

In [ ]:
#WAP take radius of circle and calculate area of the circle
# radius = 3.14* r^2
#print answers in fstring and format

# WAP take height, breadth of a right angle triangle and clauclate aread
#formula  is 1/2*b*h

#wap take the bill amount and tip amount
#calculate total bill is amount+tip


#wap take length & breadth of a rectange , calculate area
#formaula = L*B

**WAP to calculate area of circle**

In [174]:
radius=4;
area=(3.14)*(4^2);
# print using format method
print("area of circle with radius {} is : {}".format(radius,area));
# print using f string
print(f"area of circle with radius {radius} is : {area}");

area of circle with radius 4 is : 18.84
area of circle with radius 4 is : 18.84

**WAP to calculate area of right angled triange**

In [176]:
height=24;
base= 6;
area=(1/2)*(base)*(height);
# print using format method
print(f"Area of triange with height {height} and base {base} is {area}");
# print using f string
print("Aread of triange with height {} and base {} is {}".format(height,base,area))

Area of triange with height 24 and base 6 is 72.0
Aread of triange with height 24 and base 6 is 72.0

**WAP to calculate sum of bill amount**

In [178]:
billAmt=1000;
tipAmt=50;
totalBill=billAmt+tipAmt;
# print using format method
print("Total Bill amount for bill {} and tip {} is {}".format(billAmt,tipAmt,totalBill));
# print using f string
print(f"Total Bill Amount for bill {billAmt} and tip {tipAmt} is {totalBill}");

Total Bill amount for bill 1000 and tip 50 is 1050
Total Bill Amount for bill 1000 and tip 50 is 1050

**wap calculate area of rectange**

In [180]:
rec_len=20;
rec_breadth= 30;
areaRec= rec_len*rec_breadth;
#print using format
print("area of rectnagle with length {} and breadth {} is {}".format(rec_len,rec_breadth,areaRec));
#print using f string
print(f"aread of rectange with length {rec_len} and breadth {rec_breadth} is {areaRec}");

area of rectnagle with length 20 and breadth 30 is 600
aread of rectange with length 20 and breadth 30 is 600

**input**

- in above we provided the value

- Input is the inbuilt function

- using input user can provide value

In [10]:
input

**Note:whenever we see bound method or function which indicates brackets are missing in function**

In [15]:
input()

 uy\

'uy\\'

In [27]:
num=eval(input())

 344.6

In [29]:
name=input("enter your name");

enter your name sirisha

In [31]:
type(name)

str

In [33]:
type

type

In [35]:
eval

In [37]:
input

In [39]:
- help

TypeError: bad operand type for unary -: '_Helper'

In [41]:
help

Type help() for interactive help, or help(object) for help about object.

In [43]:
help(input())

 d

No Python documentation found for 'd'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [45]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [51]:
n1= eval(input());
n2= eval(input());
add= n1+n2

 23
 343

**by default input values in string type**

In [56]:
n1= input("enter number 1:");
n2= input("enter number 2:");
n3= n1+n2
print(n3)

enter number 1: 200
enter number 2: 400

200400

In [64]:
str1 =input("enter furit1:");
str2=input("enter is:");
str3=input("enter fruit:");
str4= str1+str2+str3
print(str4)

enter furit1: apple
enter is: is
enter fruit: fruit

appleis fruit

In [5]:
n1= int(input("enter num1:"));
n2= int(input("enter num3:"));
print(n1+n2);

enter num1: 10.5

ValueError: invalid literal for int() with base 10: '10.5'

**eval**
- eval means evaluate

- it is related to math family

- which means it works only numbers

- it will not work on string

- eval will convert the respective datatype

- if user enters 10 in quote it will convert to 10

- if user enters 10.5, it will convert to 10.5

In [15]:
int('10')
int('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [17]:
print(float (1))
print(float(1.5))

1.0
1.5

In [19]:
print(eval('10'))
print(eval('10.5'))

10
10.5

In [21]:
n1= eval(input("enter number 1:"));
n2= eval(input("enter number 2:"));
n3= n1+n2
print(n3)

enter number 1: 10
enter number 2: 20.5

30.5