In [1]:
dict1={'Apple':20,'Banana':30,'Cherry':50};
dict2={'Apple':20,'apple':30};
dict3={20:'Apple',30:'Banana',50:'Cherry'};
#apply min max sum sorted reversed
min(dict1),min(dict2),min(dict3)

('Apple', 'Apple', 20)

In [3]:
max(dict1),max(dict2),max(dict3)

('Cherry', 'apple', 50)

In [9]:
sorted(dict1)

['Apple', 'Banana', 'Cherry']

In [11]:
sorted(dict2)

['Apple', 'apple']

In [21]:
sorted(dict3,reverse=True)

[50, 30, 20]

In [29]:
reversed(dict3)

In [39]:
list(reversed(dict2))

['apple', 'Apple']

In [41]:
for i in dict1:
    print(i)

Apple
Banana
Cherry

In [43]:
for i in range(len(dict1)):
    dict1[0];

KeyError: 0

**how to extract dict values**

- in dictionary we have key values pair
- Keys are very important
- in order to get values we need to take keys help

In [48]:
for i in dict1:
    print(i,dict1[i])

Apple 20
Banana 30
Cherry 50

In [54]:
names={'Ramesh':20,'Suresh':30,'Satish':40}
for i  in names:
    print(f"{i} age is {names[i]}");

Ramesh age is 20
Suresh age is 30
Satish age is 40

In [58]:
d={'fruits':['Apple','Banana','Cherry']}
print(d['fruits'][2])

Cherry

In [60]:
d={'fruits':{'Apple':['sweet','sour','green']}}
d['fruits']['Apple'][2]

'green'

In [66]:
d={'Fruits':[{'Cost':[50]}]}
len(d)
d['Fruits'][0]['Cost'][0]

50

In [68]:
d={'Fruites':['Apple'],'Cost':[{'1kg':[20,30,40],
                               '2kg':None}]}
d

{'Fruites': ['Apple'], 'Cost': [{'1kg': [20, 30, 40], '2kg': None}]}

In [70]:
len(d)

2

In [82]:
d['Cost'][0]['1kg'][2], d['Cost'][0]['2kg']

(40, None)

In [86]:
d={'Fruites':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d

{'Fruites': {'Orange': {'Nagpur': {'MH': {'King': {'Shivaji': {'Shambaji'}}}}}}}

In [100]:
d['Fruites']['Orange']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

**How to create a empty dictionary**

- Now onward focus on creating empty list,strings and dictionaries
- we will take empty list and use append operation
- we will take empty string and use concatenate operation
- we will take empty dict and use key:value pair concept

In [105]:
dict={}
dict

{}

In [122]:
#empty list
l=[];
l.append(20);
l.append(30);
l

[20, 30]

In [124]:
#empty string
s='';
s=s+'p';
s=s+'y';
s

'py'

In [126]:
#empty dict
d={};
d

{}

In [120]:
d['Ramesh']=20;
d

{'Ramesh': 20}

In [128]:
d['Suresh']=25;
d

{'Suresh': 25}

In [130]:
d

{'Suresh': 25}

In [132]:
d['Ramesh']=20;
d['Suresh']=30;

In [134]:
d

{'Suresh': 30, 'Ramesh': 20}

In [142]:
names=['Suresh','Ramesh','Satish'];
age=[20,30,40];
d={};

for i in names:
    for j in age:
        d[i]=j
d

{'Suresh': 40, 'Ramesh': 40, 'Satish': 40}

In [146]:
for i,j in zip(names,age):
    d[i]=j
d

{'Suresh': 20, 'Ramesh': 30, 'Satish': 40}

**Dictionary Comprehension**
- for list comprehension we written everything  inside list
- for dict comprehension we write everything inside dictionary

In [152]:
for i,j in zip(names,age):
    i:j
d

{'Suresh': 20, 'Ramesh': 30, 'Satish': 40}

**Mutable Immutable**
- lists are mutable
- dictionaries are also mutable
- strings are immutable
- Tuple also immutable
- in dictionaries we can change values using keys, so it is mutable

In [157]:
d['Ramesh']=100;
d

{'Suresh': 20, 'Ramesh': 100, 'Satish': 40}