# Data Types

- integer : int
  
- string
  
- float
   
- list
  
- tuple
  
- set
   - forzen set
     
- dictionary

- boolean

- complex

- range

- byte

- byte array

- memory view

- None type

$integer$

In [8]:
number = 100;
print(number)
type(number)

100

int

**Number Systems**
- Binary Number System
  
- Decimal Number System

- Octa Number System

- Hexa Number System

**Binary number sustem**

- it is denoted with **ob** or **0B**

- Binary means two

- we have generally 0 to 9 digits available

- binary means only two digits allowed : 0 and 1

- ex: 0b101 ob111 0b000

- not valid : 0b123 (becasue 2 & 3 are there but oly 0 & 1 are valid)

In [14]:
0b112

SyntaxError: invalid digit '2' in binary literal (2977364075.py, line 1)

In [16]:
0b111

7

- 2^2   2^1  2^0
- 4      2    1
- #########################

- 0      0    0  -  0
- 0      0    1  - 1
- 0      1    0  - 2
- 0      1    1  - 3
- 1      0    0  - 4
- 1      0    1  - 5
- 1      1    0  - 6
- 1      1    1  - 7

- 8  4  2  1
- 0  0  0  0  - 0
- 0  0  0  1  - 1
- 0  0  1  0  - 2
- 0  0  1  1  - 3
- 0  1  0  0  - 4
- 0  1  0  1  - 5
- 0  1  1  0  - 6
- 0  1  1  1  - 7
- 1  0  0  0  - 8 
- 1  0  0  1  - 9
- 1  0  1  0  - 10
- 1  0  1  1  - 11
- 1  1  0  0  - 12
- 1  1  0  1  - 13
- 1  1  1  0  - 14
- 1  1  1  1  - 15

**Octa Number System**
- it is denoted with **0o** or **0o**
  
- Octa means 8

- we have generally 0 to 9 digits available

- octa means only 8 digits allowed : 0 1 2 3 4 5 6 7

- ex 0o123

In [22]:
0o123

83

  1    2    3
- 8^2 8^1 8^0
- 64*1  8*2   1

In [25]:
print(64*5+8*6+1*7)

375

**Hexa Number System**

- it is denoted with **0x** or **0X**

-  we have generally 0 to 9 digits and A to F

-  A: 10 B:11  C:12  D:13  E:14  F:15

-  ex: 0XABC  0X12A  0XA1

**2025**

**2025 in Binary**

- 2025--> 1012 (1)
- 1024--> 506 (0)
- 512 --> 253 (0)
- 256 --> 126 (1)
- 123 --> 63 (0)
- 61  --> 31 (1)
- 30  --> 15 (1)
- 15  --> 7 (1)
- 7   --> 3 (1)
- 3  ---> 1 (1)

- 1111101001

**2025 in Octa**

divide 2025 / 8 untill we get remainder as 0 and write remainders in reverse order

- 2025/8 --> 253 --> 1
- 253/8 ---> 31  --> 5
- 31/8  ---> 3   --> 7
- 3/8   ---> 0   --> 3

**3751**

**2025 in Hexa**

divide 2025 / 16 untill we get remainder as 0 and write remainders in reverse order

- 2025/16 ---> 126 ---> 9
- 126/16  ---> 7 ----> 14 (E) ## representation of 14 in Hexa
- 7/16    ---> 0 ----> 7
- 
 **7E9**

**float**

In [47]:
print(1e1)   # 1* 10 =10
print(1e2)  # 1*100 = 100
print(1e3)   # 1*1000 = 1000
print(2e3)   # 2*1000 = 2000
print(4e4)  #4*10000 = 40000

10.0
100.0
1000.0
2000.0
40000.0

In [35]:
2e4  # 2* 10000

20000.0

In [45]:
print(1e+1); # 1* 10 =10
print(1e+2);  # 1*100 = 100
print(2e+3);# 2*1000 = 2000
print(4e+4)#4*10000 = 40000

10.0
100.0
2000.0
40000.0

In [53]:
print(1e-1);  # 1/ 10 =0.1
print(1e-2); # 1/100 = 0.01
print(2e-3);  #2/1000 0.002
print(4e-4); # 4/10000 = 0.0004

0.1
0.01
0.002
0.0004

**Bolean Data Type**

In [2]:
v

False

**Strings**

 - English Format Representation
 - String representation with quotes
 - we can use single or double quotes

In [9]:
name = 'python'
name

'python'

In [11]:
type(name)

str

In [13]:
print(name)

python

In [16]:
val ="10"
type(val)

str

In [24]:
str1 = 'I love "python"';
print(str1)

I love "python"

In [26]:
str2 = "I love 'python'"

In [28]:
str2

"I love 'python'"

In [30]:
print(str2)

I love 'python'

**tripe Quotes**

- Triple quotes can not be used in coding
- Triple quotes is used to convey information
- this process is called **Doc String**
- In Jupuuter notebook we have markdown, but in VS code or pycharm there is no markdown, hence triple quotes is used for documenting or commenting

In [35]:
"""Hi
I love 
Python"""

'Hi\nI love \nPython'

SyntaxError: cannot assign to True (2452926307.py, line 1)