**Type Casting**

- Convert One Data type to another

- Data Types
    - integer - int
    - string  - str
    - boolean - bool
    - float - float

**int to other data types**

In [27]:
number =100;
type(number)

int

In [39]:
# int to float
floatnumber=float(number) 
print(floatnumber)
type(floatnumber)

100.0

float

In [41]:
# int to String
strNum= str(number)
print(strNum);
print(type(strNum));

100
<class 'str'>

In [43]:
# int to boolean
boolNum= bool(number);
print(boolNum);
print(type(boolNum));

True
<class 'bool'>

In [45]:
print(float(0))
print(bool(0))

0.0
False

**float to other data types**

In [53]:
print(int(10.0));
print(str(10.0));
print(bool(10.0));
print(bool(0.0));

10
10.0
True
False

In [55]:
str(10.0)

'10.0'

**String to other data types**

In [74]:
print(int('10'));
print(bool(''));
print(bool('true'));

10
False
True

- for number 0 and  0.00 boolean conversion gives **False**
- for strings empty value boolean conversion gives **False**

In [87]:
print(float('10'));
print(int('10'));
print(bool('10'));

10.0
10
True

In [97]:
print(float('10.5'));

10.5

In [99]:
int('10.5');

ValueError: invalid literal for int() with base 10: '10.5'

**boolean to other types**

In [104]:
print(int(True))
print(int(False));
print(str(True));
print(str(False));
print(float(True));

1
0
True
False
1.0

In [106]:
print(int(10.5))

10

In [108]:
print(float(10))
print(str(10))
print(bool(10))
print(int(10.5))
print(str(10.5))
print(bool(10.5))
print(float('apple'))
print(int('apple'))
print(bool('apple'))

10.0
10
True
10
10.5
True

ValueError: could not convert string to float: 'apple'